version: "3.8"

services:
  mysql:
    image: mysql:8.0
    command: "mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
#      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=db
#      - MYSQL_USER=user
#      - MYSQL_PASSWORD=password
#    environment:
#      MYSQL_DATABASE: db
#      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongo:
    image: mongo
    restart: always
    ports:
      - 27018:27017
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGO_INITDB_DATABASE: dbz
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 30s
      timeout: 30s
      retries: 5

  master:
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /src/cmd/master
    ports:
      - "8080:8080"
    environment:
      GOCACHE: /go-cache
    volumes:
      - ./src:/src
      - go-cache:/go-cache
      - ./air-config.toml:/air-config.toml
    entrypoint: [ "air", "-c", "/air-config.toml" ]
  gateway:
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /src/cmd/gateway
    ports:
      - "8088:8088"
    environment:
      GOCACHE: /go-cache
    volumes:
      - ./src:/src
      - go-cache:/go-cache
      - ./air-config.toml:/air-config.toml
    entrypoint: [ "air", "-c", "/air-config.toml" ]
  store:
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /src/cmd/store
    ports:
      - "8090:8090"
    environment:
      GOCACHE: /go-cache
    volumes:
      - ./src:/src
      - go-cache:/go-cache
      - ./air-config.toml:/air-config.toml
    entrypoint: [ "air", "-c", "/air-config.toml" ]
  booking:
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /src/cmd/booking
    ports:
      - "8091:8091"
    environment:
      GOCACHE: /go-cache
    volumes:
      - ./src:/src
      - go-cache:/go-cache
      - ./air-config.toml:/air-config.toml
    entrypoint: [ "air", "-c", "/air-config.toml" ]
  user:
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /src/cmd/user
    ports:
      - "8092:8092"
    environment:
      GOCACHE: /go-cache
    volumes:
      - ./src:/src
      - go-cache:/go-cache
      - ./air-config.toml:/air-config.toml
    entrypoint: [ "air", "-c", "/air-config.toml" ]
volumes:
  mysql_data:
  mongo_data:
  go-cache: